.testmonial h1
{
    color: #f1f1f1;
    font-size: 5rem;
}
.testmonial h2
{
    
    font-size: 2.5rem;
    position: absolute;
}
.team{
    border: 2px solid #f1f1f1;

}
.team img
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    bottom: 50px;
}
.carousel-indicators .active
{
    background-color: red;
}
.carousel-indicators li
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}